.buttons {

    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.counterButton {
    font-size:20px;
    background-color: blue;
    width: 100px;
    margin: 10px;
    color: white;
    border-radius: 30px;
    border-color: black;
    border-width: 5px;

}

.count {
    font-size: 50px;
    margin: 20px;

}

.totalCount {
    font-size: 50px;
    margin: 20px;
    color: blue;
}